@model Project1.Views.Home.Inventory.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InventoryItems[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryItems[0].Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryItems[0].PurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryItems[0].ExpirationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.InventoryItems) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ItemId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ItemId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
